/* src/styles/components.css */

.btn-primary {
  background-color: #14532d; /* Tailwind's blue-600 #16a34a;*/
  color: white;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
}

.btn-primary:hover {
  background-color: #16a36a; /* Tailwind's blue-700 */
}

.btn-primary:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-secondary {
  background-color: #f3f4f6; /* Tailwind's gray-100 */
  color: #1f2937; /* Tailwind's gray-800 */
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
}

.btn-secondary:hover {
  background-color: #e5e7eb; /* Tailwind's gray-200 */
}

.btn-secondary:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-danger {
  background-color: #dc2626; /* Tailwind's red-600 */
  color: white;
  font-weight: 500;
  padding: 0.3rem 0.75rem;
  border-radius: 0.375rem;
  transition: background-color 0.2s;
}

.btn-danger:hover {
  background-color: #b91c1c; /* Tailwind's red-700 */
}

.input-field {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #d1d5db; /* Tailwind's gray-300 */
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}

.input-field:focus {
  outline: none;
  border-color: #146438; /* Tailwind's blue-500 */
  box-shadow: 0 0 0 2px rgba(59, 246, 181, 0.278);
}

.card {
  /* background-color: white; */
  /* border: 1px solid #f3f4f6; */

  border-radius: 0.75rem;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); */
  transition: box-shadow 0.3s;
}

.card:hover {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* border-radius: 0.75rem; */
}

.badge {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.75rem; /* py-1 px-3 */
  border-radius: 9999px; /* rounded-full */
  font-size: 0.875rem; /* text-sm */
  font-weight: 500; /* font-medium */
}

.badge-green {
  background-color: #d1fae5; /* bg-green-100 */
  color: #065f46; /* text-green-800 */
  padding: 2px 6px;
  border-radius: 2px;
}

.badge-blue {
  background-color: #d1fae5; /* bg-blue-100 */
  color: #1e40af; /* text-blue-800 */
  padding: 2px 6px;
  border-radius: 2px;
}

.badge-orange {
  background-color: #ffedd5; /* bg-orange-100 */
  color: #c2410c; /* text-orange-800 */
  padding: 2px 6px;
  border-radius: 2px;
}
